.registration {
    margin-left: 337px;

    @include e(title) {
        margin-bottom: 43px;
    }

    @include e(box) {
        position: relative;
        padding-top: 43px;
    }

    @include e(one) {

        margin-bottom: 24px;

        >input {
            margin-right: 118px;
        }
    }

    @include e(two) {
        margin-bottom: 37px;

        >input {
            margin-right: 118px;
        }


    }

    @include e(img) {
        position: absolute;
        right: 240px;
        top: -103px;
    }

    @include e(btn) {

        margin-bottom: 50px;
    }
}