.h1_entrprnr {
    font-size: 64px;
    line-height: 85px;
}

.p_entrprnr {
    font-size: 24px;
    line-height: 36px;
}

.h2_entrprnr {
    font-size: 64px;
    line-height: 85px;
}

.h2_sm {
    font-size: 48px;
    line-height: 77px;
}

.auth_entrprnr {
    font-size: 24px;
    line-height: 36px;
}

.h3_entrprnr {
    font-size: 36px;
    line-height: 51px;
}

.h4_entrprnr {
    font-size: 36px;
    line-height: 51px;
}

.btn_text {
    font-size: 24px;
    line-height: 36px;
}

.basis__info {
    font-size: 24px;
    line-height: 36px;
}

.about__dl-title {
    font-size: 24px;
    line-height: 34px;
}

.faq__text,
.faq__content {
    font-size: 18px;
    line-height: 26px;
}