.about {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 100%;
    background: #E5FAF2;
    position: relative;
}

.about-content__title {
    @include e(img) {
        display: none;
    }
}

.about-content__h2 {
    font-family: $headingFontFamily;
    font-weight: $mediumFontWeight;
    font-size: 28px;
    line-height: 45px;
    color: #5A558D;
    padding: 40px 10px;
}

.about-content__text {
    font-size: 16px;
    line-height: 24px;
    padding: 0 50px;
    color: #505052;
}

.about_download__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 59px;
    align-items: center;
    text-align: center;
    font-weight: $mediumFontWeight;
    font-size: 24px;
    line-height: 34px;
    color: #5A558D;
}

.about_download__img {
    img {
        width: 66px;
        vertical-align: top;
    }
}

.download-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;

    .btn {
        font-size: 24px;
        color: #FF6D54;
        line-height: 36px;
        border: 1px solid #FF6D54;
        padding: 10px 35px;
        border-radius: 30px;
    }

    .email {
        margin-bottom: 50px;
        width: 300px;
        border-bottom: 1px solid #B7EED9;

        &::placeholder {
            color: #C4C4C4;
        }
    }
}