.header {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  min-height: 80px;


  .wrapContent {
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.boxLogo {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.arrowDown {
  background: url('../i/arrowDown.svg') no-repeat;
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: -16px;
}

.boxLang {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  color: #5a558d;
  margin: 6px 0 0 51px;
  position: relative;
}

.menuIcon {
  width: 21px;
  display: inline-block;
  position: absolute;
  bottom: -30px;
  right: 35px;
}

.list {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  margin: 6px 0 0 0;
  background: #fff;

  align-items: center;

  &_link {
    display: inline-flex;
    padding: 7px;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #5a558d;
    position: relative;
  }

  & .arrowDown {
    right: -10px;
  }

  &_active {
    color: #ff6d54;

    & .arrowDown {
      transform: rotate(180deg);
    }
  }
}

.listUnder {
  list-style: none;
  display: none;
  position: static;
  box-shadow: none;
  width: 100%;
  background: #fff;
  margin: 2px 0 0;
  padding: 9px 0 0;

  &>li {
    padding: 7px 25px;
    line-height: 29px;
    font-size: 18px;
    color: #5a558d;

  }
}

.listUnderLinks {
  position: static;
  box-shadow: none;
  width: 100%;
  background: #fff;
  display: none;
  padding: 0 25px;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(206, 191, 191, 0.2);

  &>li {
    margin: 17px 0;
    line-height: 20px;
  }

  &>li>a {
    font-size: 18px;
    color: #505052;
  }
}

.btn_header_wrap {
  margin: 0;

  button {
    outline: none;
    width: 100px;
    height: 40px;
    border: 1px solid #ff6d54;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 18px;
    background: transparent;
    color: #ff6d54;
  }
}

.list_hidden {
  display: none;
}

// @media only screen and (max-width: 1612px) {
//   .header .wrapContent {
//     width: 1220px;
//   }
// }

// @media only screen and (max-width: 1280px) {
//   .header .wrapContent {
//     width: 931px;
//   }
//   .list_link {
//     padding: 33px 18px 25px;
//   }
//   .list_link .arrowDown {
//     right: 5px;
//   }
// }
// @media only screen and (max-width: 991px) {
//   .header {
//     padding: 20px 0;
//     .wrapContent {
//       display: block;
//       width: 100%;
//       padding: 0 20px;
//     }
//   }
//   .btn_header_wrap {
//     margin: 0;
//     position: absolute;
//     top: 10px;
//     right: 30px;
//   }

//   .wrapContent {
//     width: 100%;
//     padding: 0 30px;
//     display: block;
//   }
//   .list {
//     display: block;
//     margin: 6px 0 0 0;
//   }
//   .listUnder,
//   .listUnderLinks {
//     position: static;
//     box-shadow: none;
//     width: 100%;
//     background: transparent;
//   }
//   .listUnderLinks {
//     width: 100%;
//     box-sizing: border-box;
//     padding: 0 25px;
//   }
//   .listUnder > li {
//     padding: 7px 25px;
//   }
//   .menuIcon {
//     display: inline-block;
//     vertical-align: middle;
//     margin: 6px 0 0 51px;
//   }
//   .list_hide {
//     display: none;
//   }
//   .wrapContentJustify {
//     justify-content: inherit;
//   }
//   .list_link {
//     display: inline-flex;
//     padding: 7px;
//   }
//   .btnWrap {
//     position: absolute;
//     top: 15px;
//     right: 20px;
//   }
//   .list_link .arrowDown {
//     right: -10px;
//   }
// }

// @media only screen and (max-width: 540px) {
//   .boxLang {
//     margin: 6px 0 0 8%;
//   }
//   .menuIcon {
//     margin: 6px 0 0 23%;
//   }
//   .btn_header_wrap button {
//     width: 70px;
//   }
//   .btn_header_wrap {
//     right: 20px;
//   }
// }