* {
    box-sizing: border-box;
}

.loopa {
    max-width: 80%;
    // display: flex;
    float: right;


    @include e(img) {
        float: left;
        margin-right: 60px;
        // background: url(../../../i/loopa.png) no-repeat;
        // position: absolute;
        // background-size: cover;
        // flex-shrink: 0;
        // width: 410px;
        // height: 580px;

    }

    @include e(content) {
        float: right;
    }

    @include e(h2) {
        font-weight: bold;
        font-size: 36px;
        line-height: 51px;
        color: #5A558D;
        padding-left: 60px;
    }

    @include e(auth) {
        font-size: 24px;
        line-height: 36px;
        color: #4A4640;
        padding-left: 60px;
    }

    @include e(text) {

        font-size: 24px;
        line-height: 36px;
        color: #505052;
        background: #F9F5EC;
        padding: 46px 0;
        margin-left: 60px;
        min-height: 322px;
    }
}