.basis {}

.basis__heading {
    font-size: 64px;
    line-height: 85px;
    margin-bottom: 33.5px;
}

.basis__text {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 53px;
}

.basis__info {
    font-size: 24px;
    line-height: 36px;

    @include e(el) {
        margin-right: 40px;
    }
}

.basis__reg {
    flex-direction: row;




    select {
        margin-right: 60px;
        margin-bottom: 0;

    }
}

.reg_btn {
    border-radius: 30px;
    padding: 20px 50px;
}