.h1_entrprnr {
    font-size: 48px;
    line-height: 65px;
}

.p_entrprnr {
    font-size: 20px;
    line-height: 32px;
}

.h2_entrprnr {
    font-size: 48px;
    line-height: 65px;
}

.h2_sm {
    font-size: 36px;
    line-height: 65px;
}

.auth_entrprnr {
    font-size: 20px;
    line-height: 32px;
}

.h3_entrprnr {
    font-size: 30px;
    line-height: 45px;
}

.h4_entrprnr {
    font-size: 30px;
    line-height: 45px;
}

.btn_text {
    font-size: 20px;
    line-height: 30px;
}

.about__dl-title {
    font-size: 20px;
    line-height: 30px;
}

.faq__text,
.faq__content {
    font-size: 16px;
    line-height: 24px;
}