.basis {
    padding-left: 180px;
    padding-right: 0;
}



.basis__heading {
    font-size: 64px;
    line-height: 85px;
    margin-bottom: 33.5px;
}

.basis__text {
    font-size: 24px;
    line-height: 36px;

}

.basis__info {
    font-size: 24px;
    line-height: 36px;

    @include e(el) {
        margin-right: 77px;

    }
}

.basis__img {
    background-size: cover;
    background-position: 0 -80px;
    margin-left: 140px;
}