.edu-game {
    @include e(content) {
        margin-bottom: 150px;
    }

    @include e(h3) {
        padding-left: 50px;

    }

    @include e(auth) {
        padding-left: 50px;

    }

    @include e(img) {
        max-width: 737px;
    }

    @include e(text) {
        padding-left: 50px;
        min-height: 308px;

    }
}