.basis {
    padding-left: 40px;

}

.basis__heading {
    font-size: 64px;
    line-height: 85px;
    margin-bottom: 33.5px;
}

.basis__text {
    font-size: 24px;
    line-height: 36px;
}

.basis__info {
    font-size: 24px;
    line-height: 36px;


}

.basis__reg {
    margin-bottom: 250px;
}

.basis__img {
    background: url(#{$imagesPath}enterpreneur.png) no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 774px;
}

.reg_btn:hover {
    background: #FF6D54;
    color: #fff;
}