.partners {
    max-width: 1920px;

    @include e(title) {
        padding: 0 200px;
    }

    @include e(comp) {
        grid-template-columns: 285px 70px 285px 70px 285px;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 120px;
        justify-content: center;
    }
}

.chalm__img {
    grid-column: 1;
    grid-row: 1;
}

.chalm__text {
    grid-column: 1;
    grid-row: 2;
}

.avp__img {
    grid-column: 3;
    grid-row: 1;
}

.avp__text {
    grid-column: 3;
    grid-row: 2;
}

.driv__img {
    grid-column: 5;
    grid-row: 1;
}

.driv__text {
    grid-column: 5;
    grid-row: 2;
}