.partners {
  max-width: 100%;

  @include e(title) {
    padding: 0 200px;
  }

  @include e(h2) {
    margin-bottom: 15px;

  }

  @include e(text) {
    margin-top: 0;
    padding: 0 5px;

  }

  @include e(company) {
    grid-template-columns: 285px 60px 285px 60px 285px;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 104px;
    text-align: left;

  }


  @include e(co-text) {
    margin: 0;


    @include m(chalm) {
      grid-column: 1;
      grid-row: 2;
    }

    @include m(avp) {
      grid-column: 3;
      grid-row: 2;
    }

    @include m(driv) {
      grid-column: 5;
      grid-row: 2;
    }
  }

  @include e(img) {
    margin-bottom: 0;

    @include m(chalm) {
      grid-column: 1;
      grid-row: 1;
    }

    @include m(avp) {
      grid-column: 3;
      grid-row: 1;
    }

    @include m(driv) {
      grid-column: 5;
      grid-row: 1;
    }
  }
}